@import url("https://fonts.googleapis.com/css2?family=Asar&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-[12.8px] desktopXl:text-[0.8333333333333334vw] desktop2xl:text-[16px];
		@apply m-0;
		@apply font-['FreeSans_Medium'];
	}

	img {
		@apply w-full h-auto max-w-[200em];
	}

	h1 {
		@apply font-['FreeSans_Bold'] text-2xl capitalize desktopMd:text-3xl leading-normal;
	}

	h2 {
		@apply font-['FreeSans_Bold'] text-[2.5em] desktopMd:text-2xl leading-normal;
	}

	p {
		@apply font-['asar'];
		@apply text-xl;
		@apply leading-loose;
	}

	.bn {
		@apply font-['sutonnyomj'];
	}

	@font-face {
		font-family: "FreeSans Medium";
		font-style: normal;
		font-weight: normal;
		src: local("FreeSans Medium"),
			url("./assets/fonts/FreeSans.woff") format("woff");
	}
	@font-face {
		font-family: "FreeSans Bold";
		font-style: normal;
		font-weight: normal;
		src: local("FreeSans Bold"),
			url("./assets/fonts/FreeSansBold.woff") format("woff");
	}
	@font-face {
		font-family: "sutonnyomj";
		src: url("./assets/fonts/SutonnyOMJ.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
}

@layer components {
	.container {
		@apply max-w-[90%] tabletLg:max-w-[80%] mx-auto;
	}

	.btn {
		@apply bg-black hover:bg-white transition-all;
		@apply w-fit px-md py-4;
		@apply text-white font-bold hover:text-black;
		@apply border-0;
		@apply rounded-md hover:ring-2 hover:ring-black;
	}

	.tagLine {
		@apply font-['FreeSans_Medium'] text-md;
		@apply leading-snug;
	}

	.horizontal_line {
		@apply w-full h-[3px];
		@apply bg-brand;
	}
}
